<blockquote class="quote">
  <p class="quote__text">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit amet libero
    corporis minima, minus ex at accusamus omnis fuga qui.
  </p>
  <div class="media">
    <div class="media__image">
      <svg class="icon icon--primary">
        <use xlink:href="images/sprite.svg#line"></use>
      </svg>
    </div>
    <div class="media__body">
      <h3 class="media__heading">John Marsian</h3>
      <p class="media__description">Hostify Company CEO</p>
    </div>
  </div>
</blockquote>
